client/javascript/src/main/java/pt/com/broker/jsbridge/etc/configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="bridge-configuration">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="settings">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="bridge">
								<xsd:complexType>
									<xsd:attribute name="port" type="xsd:int" use="required" />
									<xsd:attribute name="root-dir" type="xsd:string" use="required" />
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="default-broker">
								<xsd:complexType>
									<xsd:attribute name="host" type="xsd:string" use="required" />
									<xsd:attribute name="port" type="xsd:int" use="required" />
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="channels">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="unbounded" name="channel">
								<xsd:complexType>
									<xsd:attribute name="name" type="xsd:string" use="required" />
									<xsd:attribute name="topic" type="xsd:string" use="required" />
									<xsd:attribute name="allow-subscription" type="xsd:boolean" use="required" />
									<xsd:attribute name="allow-publication" type="xsd:boolean" use="required" />
									<xsd:attribute name="broker-host" type="xsd:string" use="optional" />
									<xsd:attribute name="broker-port" type="xsd:int" use="optional" />									
									<xsd:attribute name="downstream-filter" type="xsd:string" use="optional" />
									<xsd:attribute name="upstream-filter" type="xsd:string" use="optional" />
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>