clients/dotnet-NewComponent-BrokerTCP/Tests/Tests/TestParms/TestsParamsSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TestParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Defaults">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Param" type="Param" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Tests">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Test">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Param" type="Param" />
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Param">
    <xs:attribute name="Name" type="xs:string" use="required" />
    <xs:attribute name="Value" type="xs:string" use="required" />
  </xs:complexType>
</xs:schema>